@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?rup6m2');
  src:  url('../assets/fonts/icomoon.eot?rup6m2#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?rup6m2') format('truetype'),
    url('../assets/fonts/icomoon.woff?rup6m2') format('woff'),
    url('../assets/fonts/icomoon.svg?rup6m2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pomb-"], [class*=" pomb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pomb-firma:before {
  content: "\e916";
}
.pomb-pombero:before {
  content: "\e915";
}
.pomb-diagonal1:before {
  content: "\e912";
}
.pomb-largo:before {
  content: "\e913";
}
.pomb-puente:before {
  content: "\e914";
}
.pomb-hotisontal:before {
  content: "\e90f";
}
.pomb-vertical:before {
  content: "\e910";
}
.pomb-facial_full:before {
  content: "\e911";
}
.pomb-facial:before {
  content: "\e90e";
}
.pomb-diamante:before {
  content: "\e90a";
}
.pomb-rorschach:before {
  content: "\e90c";
}
.pomb-vl:before {
  content: "\e909";
}
.pomb-diagonal2:before {
  content: "\e907";
}
.pomb-diagonal:before {
  content: "\e906";
}
.pomb-pantos:before {
  content: "\e90d";
}
.pomb-micoscopio:before {
  content: "\e904";
}
.pomb-doktor:before {
  content: "\e908";
}
.pomb-kite:before {
  content: "\e90b";
}
.pomb-fgmc:before {
  content: "\e900";
}
.pomb-refresh:before {
  content: "\e905";
}
.pomb-eyeglass_left:before {
  content: "\e903";
}
.pomb-eyeglass_right:before {
  content: "\e902";
}
.pomb-vista_logo:before {
  content: "\e901";
}
