    
<!-- sidebar -->
<section class="sidebar"
    ng-controller="LeftCtrl">
    
    <ul class="sidebar-menu"> 
        <li>
            <a href="#/">
                <i class="fa fa-file" aria-hidden="true"></i> 
                <span>páginas</span>
            </a>
        </li>
    </ul> 
    
            
    
</section>
<!-- /.sidebar -->

