<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Alumnos</h3>
        <div class="box-tools pull-right">
          <span class="label label-danger">
              25 Julio
          </span>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
      <ul class="users-list clearfix row">
       
        <li style="width: 25%;">            
            <a href="https://www.linkedin.com/in/pablo-n-garc%C3%ADa-solanellas-9207774a/" target="_blank" >
                <img src="img/profile/garcia_solanellas.jpg" alt="Pablo N. García Solanellas"/>
                    <span class="users-list-name" > Pablo N.  </span>
                <span class="users-list-date">García Solanellas</span>          
            </a>
        </li>
        <li style="width: 25%;">            
            <a href="http://linkedin.com/in/sergio-lopez-a3679614b" target="_blank" >
                <img src="img/profile/sergio_lopez.jpeg" alt="Sergio Lopez"/>
                    <span class="users-list-name" > Sergio  </span>
                <span class="users-list-date">Lopez</span>          
            </a>
        </li>
        <li style="width: 25%;">            
            <a href="https://www.linkedin.com/in/nicolas-navarro-818785183/" target="_blank" >
                <img src="img/profile/nicolas_navarro.jpg" alt="NAVARRO, NICOLAS DEL CORAZON DE JESUS"/>
                    <span class="users-list-name" > Nicolas </span>
                <span class="users-list-date">Navarro</span>          
            </a>
        </li>
        <li style="width: 25%;">            
            <a href="https://www.linkedin.com/in/dvdeliaskairuz/" target="_blank" >
                <img src="img/profile/david_kairuz.jpg" alt="david kairuz"/>
                <span class="users-list-name" >David</span>
                <span class="users-list-date">Kairuz</span>          
            </a>
        </li>
        
        
      </ul><!-- /.users-list -->
    </div><!-- /.box-body -->
    
  </div>