<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="box box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail"  style="position: relative; border:none;"
                             alt="Universidad Nacional del Nordeste, UNNE" style="position: relative;"
                             src="img/unne.jpg" />
                    </div>
                    <div class="col-md-8 text-center">
                        <h2>Universidad Nacional del Nordeste</h2>
                        <br/>
                        <h3>Facultad de Ciencias Exactas y Naturales y Agrimensura</h3>
                    </div>
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail" style="position: relative; border:none;"
                             alt="FaCeNa, Facultad de Ciencias Exactas y Naturales y Agrimensura "
                             src="img/facena.jpg" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 text-center">
                         <h2>Teoria de la Computación</h2>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center " style="margin-bottom: 20px;">
                        <h4 class="text-bold">Trabajo Integrador</h4>
                        <h4 class="text-bold">Año: 2021</h4>                                                
                        <h4 class="text-bold">
                            Herramienta online para la detección de porciones de código fuente que podrían limitar la extensibilidad y mantenibilidad del código fuente. 'Code Smells'
                        </h4>                                            
                    </div>
                </div>
            <div class="row">                   
                <div   ng-include=" 'app/about/alumnos.html?c=TIME_STAMP_JS_FILE_HERE' "
                    class="col-md-6 col-md-offset-3 table-responsive">
                    
                </div>
            </div>    
      
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>