<a
    ng-if="acciones.noticias.length >0"
    href="" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bell-o"></i>
    <span class="label label-warning">{{acciones.noticias.length}}</span>
</a>
<ul ng-if="acciones.noticias.length >0"
    class="dropdown-menu">
    <li class="header">Novedades</li>
    <li>
    <!-- inner menu: contains the actual data -->
        <ul class="menu">      
            <li ng-repeat="noticia in acciones.noticias">
                <a href="">
                      <i class="fa {{noticia.iconClass}}"></i> {{noticia.texto}}
                </a>
            </li>      
        </ul>
    </li>

</ul>
