
<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#!/landing" style="padding-top: 4px;"
               class="navbar-brand">
                <img ng-src="img/logo_x57_64.png" width="41"
                    class="img-circle" alt="pdf pombero" />                      
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars text-primary"></i>
            </button>
            
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active ">
                    <a style="padding-left: 3px;"
                        href="#!/landing">
                        <small class="text-red">RE</small>
                        <b class="text-primary">Smell</b>
                    </a>
                </li>            
                <li class="">
                    <a title="Acerca de los creadores" href="#!/about">
                        <i class="fa fa-asterisk text-primary"></i>
                        <span class="text-primary" >Acerca</span>
                    </a>
                </li>                      
                <li class="">
                    <a title="Repositorio" 
                       class="text-orange"
                       target="_blank"
                       href="https://gitlab.com/facena_unne/codesmells">
                        <i class="fa fa-gitlab" aria-hidden="true"></i>
                        <span  >Git</span>
                    </a>
                </li>    
            </ul>              
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

