<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="box  box-primary">
    <div class="box-header">
        <h2 class="box-title">
            Detalles del caso de estudio. <br/>
            <strong class="badge" ng-class="model.explorer.codeSmell.hlcls"> {{model.explorer.codeSmell.title}} </strong>
        </h2>
         <a 
            ng-click="swLandingView(landing.views.keys.external, model.external )"
            style="padding-left: 10px; font-size:36px!important"            
            class="close pull-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </a>  
    </div>
    <div class="box-body">
       
    </div>
</div>

 <div class="row">
    
    <div class="col-md-4">
        <div class="box box-warning direct-chat direct-chat-warning">
            <div class="box-header with-border">       
                <span data-toggle="tooltip" 
                      class="badge bg-yellow">
                    {{model.explorer.codeSmell.lines.length}} 
                </span>    
                <h3 class="box-title">Detecciones</h3>    
            </div><!-- /.box-header -->
            <div class="box-body">
                <h2 ng-if="model.explorer.codeSmell.lines.length===0"
                    >
                    No hay coincidencias
                </h2>
              <!-- Conversations are loaded here -->
              <div
                  ng-if="model.explorer.codeSmell.lines.length>0"
                  class="direct-chat-messages"
                   >
                <!-- Message. Default to the left -->
                    <div class="direct-chat-msg">
                        <div class="direct-chat-info clearfix">
                            <span class="direct-chat-name pull-left">
                                {{statics.autores.list[statics.autores.keys[model.explorer.codeSmell.autorId]].nombre}}
                            </span>        
                        </div><!-- /.direct-chat-info -->
                        <img class="direct-chat-img"
                             src="{{statics.autores.list[statics.autores.keys[model.explorer.codeSmell.autorId]].img}}" 
                             alt="{{statics.autores.list[statics.autores.keys[model.explorer.codeSmell.autorId]].nombre}}">
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                            {{model.explorer.codeSmell.detalle}}
                            <span ng-repeat="_ejemplo in model.explorer.codeSmell.ejemplos">
                                <br/>
                                {{_ejemplo}}
                            </span>
                        </div><!-- /.direct-chat-text -->
                    </div><!-- /.direct-chat-msg -->

                    <!-- Message to the right -->
                    <div  ng-repeat="_exprecion in model.explorer.codeSmell.regEx" 
                        class="direct-chat-msg right">
                        <div class="direct-chat-info clearfix">
                            <span class="direct-chat-name pull-right">Expresión</span>        
                        </div><!-- /.direct-chat-info -->
                        <img class="direct-chat-img" src="img/logo_x57_64.png" alt="message user image"><!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                            <span>
                                {{_exprecion}}<br/>
                            </span>
                        </div><!-- /.direct-chat-text -->
                    </div><!-- /.direct-chat-msg -->    
                </div><!-- /.box-body -->
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">                                
                        <h5>Strings reconocidos</h5>
                        <code-editor 
                            ng-model="model.explorer.codigoEjemplo">
                        </code-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="box box-danger">
            <div class="row">
                <div class="col-md-8">
                    <div class="box-body">
                        <ul class="todo-list ui-sortable">
                            <li ng-repeat="_line in model.explorer.codeSmell.lines | limitTo:10">
                                <span class="handle ui-sortable-handle">
                                    {{_line}}
                                </span>
                                <!-- todo text -->
                                <span class="text">
                                    {{ model.external.lines[_line] }}
                                </span>                        
                            </li>
                        </ul>                        
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <img ng-src="{{main.loadingGif}}"
                        style="margin: 20px auto;"
                        class="img-responsive" alt ="waiting"/>                      
                </div>
            </div>
        </div>
    </div>
</div>


