
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>	
                        <i class="icon fa fa-check"></i>
                        Code Smells Radar
                    </h4>
                    <h5>
                        Es una herramienta para detección por medio de <strong>expresiones regulares</strong> de porciones de código fuente en lenguaje javascript que puede conducir a graves problemas en el futuro. 
                    </h5>          

                </div>        
            </div>
        </div>
        

        <div class="row">    
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">
                            <i class="fa fa-code" aria-hidden="true"></i>
                            Código fuente
                        </h2>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group-lg">
                                    <label for="exampleInputEmail1">
                                        URL
                                    </label>
                                    <div class="input-group">
                                        <input type="text" 
                                           ng-model="model.external.urlCodigoFuente"
                                           class="form-control" 
                                           placeholder="Por ejemplo: ">
                                        <span class="input-group-btn">
                                            <button 
                                                ng-click="getSourceCode();"
                                                class="btn btn-primary btn-lg btn-flat" type="button">
                                                Olfatear
                                            </button>
                                      </span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">                                    
                <div class="row">
                    <div ng-show="model.external.globaMath.lines.length>0"
                        class="col-md-12">   
                        <div class="row">
                            <div class="col-md-2">
                                <button
                                    ng-click="paginarCoinsidencias(false);"
                                    class="btn btn-flat btn-primary pull-left">
                                    <
                                </button>
                            </div>
                            <div class="col-md-8">
                                <h4 class="text-center">
                                   Linea: {{model.external.globaMath.lines[model.external.globaMath.currrentLineIndex +1 ]}}
                                </h4>
                            </div>
                            <div class="col-md-2">
                                <button
                                    ng-click="paginarCoinsidencias(true);"
                                    class="btn btn-flat btn-primary pull-right">
                                    >
                                </button>           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="editor">
                    <code-editor 
                        ng-model="model.external.codigoFuente">
                    </code-editor>
                </div>
            </div>
            <div class="col-md-4 ">                
                <div class="box box-warning box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Detecciones</h3>
                        <div class="box-tools">
                            <small>
                                {{model.external.reporte.totalDetecciones}} / 
                            </small>
                            <strong>
                                {{model.external.lines.length}}
                            </strong>
                        </div>                        
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-primary">                                            
                                            <td>Descripción</td>
                                            <td>Ocurrencias</td>
                                            <td>
                                                <i class="fa fa-eye"></i>
                                            </td>
                                            <td>
                                                <i class="fa fa-cog"></i>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(_key,_contacto) in model.external.detecciones"
                                            ng-class="_contacto.hlcls">
                                           
                                            <td>{{_contacto.title}}</td>
                                            <td class="text-right">{{_contacto.lines.length}}</td>
                                            <td>
                                                <label>
                                                    <input 
                                                        ng-click="displayType()" 
                                                        ng-model="knowSmellTypes[_key].isSelected"
                                                        type="checkbox">
                                                </label>
                                            </td>
                                            <td>
                                                <button 
                                                    ng-click="explorar(_key);"
                                                    title="mas informacion"
                                                    class="btn btn-xs btn-success">
                                                    <i class="fa fa-search-plus"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
