
<section
    ng-switch on ="landing.view.name"
    ng-show="!messageStatus.show && !confirmarAccion.show" >
    
    <section  ng-switch-when="external">
        <!-- do not remove class sobre-->
        <section class="sobre" 
            ng-include=" 'app/landing/list.html?c=TIME_STAMP_JS_FILE_HERE' "> 
        </section>          
    </section>
    <section  ng-switch-when="explorer">
        <!-- do not remove class sobre-->
        <section class="sobre" 
            ng-include=" 'app/landing/explorerView.html?c=TIME_STAMP_JS_FILE_HERE' "> 
        </section>          
    </section>
</section>

<section     
    class="q-modal container-fluid" 
    ng-include="'app/message/messageView.html?c=TIME_STAMP_JS_FILE_HERE'" ></section>

<section 
    class="q-modal container-fluid"
    ng-include="'app/message/confirmarAccionView.html?c=TIME_STAMP_JS_FILE_HERE'" ></section> 